//----------------     variables   ----------------//
$green1:#219150;
$green2:#1e392a50;
$green3:#3cc47ce3;
$green4:#636b46;

$red1:#76323f;
$red2:#cf6766;

$black1:#333a56;
$black2:#233237;
$black3:#08302f;
$black4:#3c3c3c;
$black5:#0b1f18;

$blue:#77c9d4;

$white1:rgb(255, 255, 255);
$white2:#f7f5e6;
$white3:#f4f4f4;
$white4:#e9c893;
$white5:#828081;
$white6:#eeeeee79;


$font-1:'Poppins', sans-serif;
$font-2:'Fuzzy Bubbles', cursive;
$font-3:'Montserrat', sans-serif;

$box-shadow:0 1rem 1rem rgba(18, 11, 74, 0.523);


//-----------------     MIXINS   -----------------//
@mixin box-style-background {
        @content; 
        min-height: 100vh;
        display: flex;
        align-items: center;
        background-size: cover !important;
        background-position: center !important;
        padding: 2rem 9%;
}
@mixin border {
    @content; 
    border:.2rem solid;
    border-image-slice: 1;
    border-image-source:linear-gradient(99deg, rgb(33, 145, 80) 31%, rgb(16, 34, 27) 100%);
}
@mixin btn {
    @content; 
    border:.2rem solid;
    border-image-slice: 1;
    border-image-source:linear-gradient(99deg, rgb(33, 145, 80) 31%, rgb(16, 34, 27) 100%);
    margin-top: 1rem;
    display: inline-block;
    color: $black1;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    font-family:$font-3;
    padding: 1rem 3rem;
    &:hover{
        color: $white4;
        background: $black1;
    }
}
@mixin h1{   
    @content; 
    font-size: 5rem;
    color: $black1;
    text-align: center;
    margin-bottom: 4rem;
    border-bottom:.2rem solid;
    border-image-slice: 1;
    border-image-source:linear-gradient(99deg, rgb(33, 145, 80) 31%, rgb(16, 34, 27) 100%);
    
}
//-----------------      FONTS   ------------------//
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');


* {
  font-family: $font-1;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .3s linear;
}
html{
    background: $white1;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;

    &::-webkit-scrollbar{
        width: 1rem;
    }
    &::-webkit-scrollbar-track{
        background: $white4;
    }
    &::-webkit-scrollbar-thumb{
        background: $black1;
    }
}
section{
    padding: 5rem 9%;
}
//--------------------  HEADER    -----------------// 
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    z-index: 30;
    .logo{
       margin-right: auto;
       margin-left: 1rem;
       font-size: 2.8rem;
       color: $black1;
       font-weight: bolder;
       display: flex;
       align-content: center;
       align-items: stretch;
       i{
        margin-top: .1rem;
        color: $green1;
        padding-right: .25rem;
       }
       .logo-dot{
        color: $green1;
        font-size: 3rem;
       }
       span{
       font-family: 'Fuzzy Bubbles', cursive;
       }
    }
    .navbar{
        a{
            margin-left: 2rem;
            color: $black1;
            font-size: 2.1rem;
        
        }
        a:hover{
            color:$green1;
        }
        #nav-close{
            font-size:4rem;
            display: none;
            color: $black1;
            cursor: pointer;
        }
    }
    .icons a,
    .icons div{
        font-size: 2.5rem;
        margin-left: 2rem;
        cursor: pointer;
        color: $black1;
    }
    .icons a:hover,
    .icons div:hover{
        color: $green1;
    }
    #menu-btn{
        display: none;
    }
    &.active-h{
        background: #333a56c2;
        box-shadow: $box-shadow;
        a,div{
            color: $white4;
        }
        .logo i , .logo-dot{
            color: $white4;
        }
        .logo{
            transition: .1s;
            color:$white4;
        }
    }
}
//--------------------  SEARCH   ------------------//
.search-form{
    position: fixed;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background: rgb(5 34 2 / 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transform: translateY(-110%);
    //baray button search
    &.active-s{
    transform: translateY(0%);
    }
    #close-search{
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        color: $white4;
        cursor: pointer;
        font-size: 4rem;
        &:hover{
            color: $green1;

        }
    }
    form{
        width: 70rem;
        margin:0 2rem;
        padding-bottom: 1rem;
        border-bottom:2px solid rgb(6, 245, 26);
        display: flex;
        align-items: center;
    }
    input{
        width: 100%;
        font-size: 2.1rem;
        color:$white4;
        background: none;
        text-transform: none;
        padding: 0.7rem;
        font-family: $font-3;
        &::placeholder{
            color:$white4;
        }
    }
    label{
        font-size: 2.4rem;
        cursor: pointer;
        color: $white4;
        padding-top: 1.5rem;
        &:hover{
            color:$green1;
        }
    }
}
//---------------------  HOME   -------------------//
.home{
    padding: 0;

    .box-1{
        @include box-style-background{
            justify-content: flex-end;
        }
    }
    .box-2{
        @include box-style-background{
            justify-content: flex-start;
        }
    }
    .box-3{
        @include box-style-background{
            justify-content: flex-end;
        }
    }
    .content{
        width: 50rem;
        text-align: center;
        max-width: 380px;
        span{
            font-size: 4rem;
            color: $black1;
        }
        h3{
            font-size: 6rem;
            color: $green1;
            padding-top: .5rem;
            text-transform: uppercase;
        }
        p{
            line-height: 2;
            color: $black1;
            font-size: 1.5rem;
            padding: 1rem 0;
        }
    .btn{
            @include btn();
        }
    } 
    .swiper-button-next::after,
    .swiper-button-prev::after{
        font-size: 3rem;
        color: $black1;
        opacity: .7;
    }

}
//-------------------- CATEGORY -------------------//
.category{
    h1{
        @include h1;
    }
    .box-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .box{
        text-align: center;
        padding: 2rem;
        border-radius: 1rem;
    }
    .box:hover{
        box-shadow: $box-shadow;
        padding: 1rem;
    }
    img{
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        margin-bottom: 1rem;
    }
    h3{
        font-size: 2rem;
        color: $green1;
    }
    p{
        font-size: 1.6rem;
        color: $black1;
        padding: 1rem 0;
        line-height: 2;
    }
    .btn{
        @include btn;
        font-weight: 800;

    }
}
//--------------------  ABOUt  --------------------//
.about{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background: $white1;
    align-items: center;
    text-align: center;
    gap: 2rem;
    .image{
        padding-bottom: 1rem;
        img{
            width:100%;
            box-shadow:1rem 1rem 1rem rgb(33 145 80 / 32%);
            border-radius: 1rem;
        }
    }
    .content{

        h3{
            font-size: 3rem;
            color: $green1;
        }
        p{
            font-size: 1.4rem;
            font-weight: 500;
            color:$black1;
            padding:1rem 0;
            line-height: 2;
            text-align:center;
        }
        .btn{
            @include btn()
        }
    }
}
//--------------------  SHOP   --------------------//
.shop{
    .slide{
        width: 35rem;
        @include border;
    }
    .slide:hover{
        .icons{
            transform: translateY(0);
        }
    }
    .image{
        position: relative;
        overflow: hidden;
        height: 30rem;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .icons{
            width: 100%;
            position: absolute;
            bottom: 2rem;
            left: 0;
            text-align: center;
            z-index: 10;
            transform: translateY(7rem);
        }
        .icons a{
            height: 4.5rem;
            width: 4.5rem;
            line-height: 4.5rem;
            font-size: 1.7rem;
            background: $black1;
            color: $white4;
            margin: 0 .2rem;
            border-radius: 1rem;
        }
        .icons a:hover{
            background: $green1;
        }
    }
    .content{
        padding: 1rem 0;
        text-align: center;
        h3{
            font-size: 2rem;
            color: $black1;
        }
        .price{
            padding: 1rem 0;
            font-size: 2.5rem;
            color: $green1;
        }
        .stars i{
            font-size: 1.7rem;
            color: $black1;
        }
    }
    .swiper-button-next::after,
    .swiper-button-prev::after{
        font-size: 3rem;
        color: $black1;
        opacity: .7;
    }
}
//-------------------  PACKAGE   ------------------//
.packages{
    background: $white1;
    h1{
    @include h1;
    }
    .box-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .box{
        @include border;
        text-align: center;
        background: $white4;
        flex: 1 1 26rem;
    }
    .box:hover{
        background: $black1;
        .content p , a{
            color: $white4;
        }
        .content h3{
            color: $green1;
        }
        .btn:hover{
            background: $white4;
            color: $black1;
        }
    }
    .image{
        height: 25rem;
        overflow: hidden;
        padding: 2rem;
        padding-bottom: 0;
        border-radius: 1rem;
        img{
            height: 100%;
            width: 100%;
            object-fit:cover;
            border-radius: 1rem;
        }
    }
    .content{
        padding: 2rem;
        h3{
            font-size: 2rem;
            color: $black1;
        }
        p{
            font-size: 1.5rem;
            color: $black1;
            padding:1rem 0;
            line-height: 2;
        }
        .price{
            font-size: 2rem;
            color: $green1;
        }
        .btn{
            @include btn;
        }
    }
}
//-------------------  REVIEWS   ------------------//
.reviews{
    h1{
        @include h1;
    }
    .user{
        display: flex;
        align-items: center;
        gap: 1rem;
        img{
            height: 7rem;
            width: 7rem;
            border-radius: 50%;
        }
        span{
            color: $green1;
            font-size: 1.5rem;
        }
    }
    .user::before{
        content: "";
        position: absolute;
        top: 8.6rem;
        left: 1.7rem;
        height: 3rem;
        width: 3rem;
        background: rgb(76, 110, 78);
        transform: rotate(45deg);
    }
    .text{
        position: relative;
        padding: 2rem;
        font-size: 1.4rem;
        font-weight: 500;
        font-style: italic;
        background: rgb(76, 110, 78);
        border-radius: 1rem;
        color: $white4;
        line-height: 2;
        z-index: 0;
        margin-top: 3rem;
    }
   
    
}
//-------------------  SERVICES   -----------------//
.services{
    background: $white1;
    h1{
        @include h1;
    }
    .box-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .box{
        padding: 2rem;
        @include border;
        text-align: center;
        background: $white4;
        flex: 1 1 30rem;
    }
    .box:hover{
        background:$green1;
         *{
            color: $white4;
        }
        h3{
            color: $black1;
        }
        .btn:hover{
            background: $white4;
            color: $black1;
        }
    }
    h3{
        font-size: 2rem;
        color: $black1;
    }
    p{
        font-size: 1.5rem;
        color: $black1;
        padding:1rem 0;
        line-height: 2;
    }
    .btn{
        @include btn
    }
   
}
//-------------------    BLOGS   ------------------//
.blogs{
    h1{
        @include h1;
    }
    .slide{
        text-align: center;
        padding: 2rem;
        width: 35rem;
    }
    img{
        height: 25rem;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }
    .icons{
        position: relative;
        border-radius: 1rem;
        padding: 1rem;
        background: $black1;
        top: -2rem;
        display: inline-block;
        a{
            font-size: 1.4rem;
            color: $white4;
            margin: 0 1rem;
        }
        a:hover{
            color: $green1;
        }
        i{
            padding-right: .5rem;
            color: $green1;
        }
    }
    h3{
        font-size: 2rem;
        color: $black1;
    }
    p{
        font-size: 1.5rem;
        padding: 1rem 0;
        line-height: 2;
        color: $black1;
    }
    .btn{
        @include btn;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after{
        display: none;
    }
}
//------------------ NEWSLETTER   -----------------//
.newsletter{
    background: $white1;
    h1{
        @include h1;
    }
    .content{
        margin: 1rem auto;
        text-align: center;
        max-width: 70rem;
    }
    p{
        font-size: 1.5rem;
        line-height: 2;
        color: $black1;
    }
    form{
        @include border;
        margin-top: 2rem;
        background: $white4;
        border-radius: 1rem;
        padding: .7rem;
        display: flex;
    }
    .email{
        width: 100%;
        background: none;
        text-transform: none;
        font-size: 1.9rem;
        color: $black1;
        padding: 0 1.3rem;
    }
    .btn{
        @include btn;
        margin-top: 0;
        background: $black1;
        color: $white4;
    }
    .btn:hover{
        background: none;
        color: $black1;
    }
}
//------------------  CLIENTS   -------------------//
.clients{
    .swiper-button-next::after,
    .swiper-button-prev::after{
        font-size: 3rem;
        color: $black1;
        position: absolute;
    }
}
//------------------  FOOTER   --------------------//
.footer{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url(../images/footer-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    .box-container{
        display: flex;
        margin: 1rem auto;
        gap: 1rem;
        flex-wrap: wrap;
    }
    .box{
        display: flex;
        flex-direction: column;
        flex: 1 1 29rem;
    }
    h3{
        font-size: 2rem;
        padding: 1.5rem 0;
        color: $white4;
    }
    a{
        display: block;
        font-size: 1.5rem;
        color: $white4;
        padding: 1rem;
        font-weight: 600;
    }
    i{
        color: $green1;
        padding-right: .5rem;
        font-size: 2rem;
    }
    .box:hover{
        *{
            color: $green1;
        }
        i{
            color: rgb(11, 221, 22);
        }
    }
    a:hover{
        i{
            padding-right: 1rem;
        }
    }
    .credit{
        text-transform: none;
        text-align: center;
        margin-top: 2.5rem;
        padding: 1rem;
        padding-top: 2.5rem;
        font-size: 2rem;
        color: $white4;
        span{
            color: burlywood;
        }
    }

}


        
















//    MEDIA QUERY    //
@media (min-width:1200px) {
    .packages .image img{
        object-fit: contain;
    }
}
@media(max-width:1200px){
    .header{
        padding: 2rem;
    }
    section{
        padding: 3rem 2rem;
    }
    
}
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .home .box-1{
        padding: 3rem;
        justify-content: center;
        background-position: right !important;
    }
    .home .box-2{
        padding: 2rem;
        justify-content: center;
        background-position: left !important;
    }
    .home .box-3{
        padding: 2rem;
        justify-content: center;
        background-position: right !important;
    }
    .home .content{
        text-align: center !important;
        span{
            font-size: 3rem;
        }
        h3{
            font-size: 4rem;
        }
    }
    .category .box-container{
        flex-wrap: wrap;

    }
    .about{
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
}
@media(max-width:768px){
    .header #menu-btn{
        display: inline-block;
    }
    .navbar{
        position: fixed;
        top: 0;
        left:-110%;
        background: linear-gradient(rgb(40 235 132 / 53%), rgb(255 0 0 / 41%)),url(../images/footer-bg.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        z-index: 100;
        width: 27rem;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        //in class dar asl menu ro neshon mide chon menu -110% rafte onvar v in myarash sar jash
        &.active-n{
            box-shadow:0 0 0 100vw rgba(0,0,0,.8);
            left:0;
            
        }
        
    }
   
    .navbar a{
        margin: 1rem 0;
        align-items: center;
        font-size: 4rem;
        
    }
    #nav-close{
        display:block !important;
        position: absolute;
        top: 1rem;
        right: 2rem;
    }
    .about{
        flex-wrap: wrap;
        text-align: center;
        
    }
    
    
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .home{
        .content .btn{
            font-weight: 600;
        }
        
        .swiper-button-next::after,
        .swiper-button-prev::after{
            display: none;
        }
    }
    .shop , .packages{
        h1{
            font-size: 3.5rem;
        }
    }

}